project:
  type: website
  preview:
    port: 4200

website:
  page-navigation: true
  title: "Doss-Gollin Lab @ Rice CEVE"
  site-url: https://dossgollin-lab.github.io/
  repo-url: https://www.github.com/dossgollin-lab/dossgollin-lab.github.io
  repo-actions: [issue]
  open-graph: true
  favicon: _assets/img/logos/logo.ico

  search:
    location: navbar
    type: overlay

  page-footer:
    left: |
      Rice University<br>
      Department of Civil & Environmental Engineering<br>
      Ryon Lab #215
    center: |
      <a href="https://bsky.app/profile/jdossgollin.bsky.social" title="BlueSky"><i class="bi bi-bluesky"></i></a> &nbsp;
      <a href="https://www.linkedin.com/in/jamesdossgollin" title="LinkedIn"><i class="bi bi-linkedin"></i></a> &nbsp;
      <a href="https://github.com/dossgollin-lab" title="GitHub"><i class="bi bi-github"></i></a>
    right: |
      [jdossgollin@rice.edu](mailto:jdossgollin@rice.edu)<br>
      View source [on GitHub]({{< var website.repo-url >}})

  navbar:
    right:
      - href: people/index.qmd
      - href: research.qmd
      - href: publications.qmd
      - href: teaching.qmd
      - href: contact.qmd
      - text: "Join Us"
        menu:
          - href: joinus/open-positions.qmd
          - href: joinus/phd.qmd
          - href: joinus/postdoc.qmd
          - href: joinus/undergrad.qmd
      - text: "Culture"
        menu:
          - href: culture/values.qmd
          - href: culture/expectations.qmd
          - href: culture/harassment-policy.qmd


format:
  html:
    #theme: _assets/theme/theme-rice.scss
    #css: styles.css
    theme: [sandstone, _assets/theme/theme-rice.scss]
    toc: false
    anchor-sections: true
    code-overflow: wrap
    citations-hover: true
    code-annotations: hover
    html-math-method: mathjax
    date-format: long

# references
bibliography: bibliography/my-papers.bib
biblio-style: _assets/references/american-geophysical-union.csl

link-external-newwindow: true
