---
layout: page
title: Water, Climate, Risk, Infrastructure
post_header: false
---
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <div class="row">

        <!-- UNCOMMENT THE BELOW SECTION IF USING A LOGO-->
        <!--
          <div class="col-md-3">
          <img src="{{ site.logo_logo }}" alt="Logo" class="pull-left hidden-xs lab-member-photo" />
          <p style="text-align:center; position:relative; left:10px;" class="visible-xs">
            <img src="{{ site.logo_logo }}" alt="Logo"
              style="margin-right:20px; max-height:150px; margin: auto; display: inline;" class=" img-responsive" />
          </p>
        </div>
      -->
        <h1 class="hidden-xs">{{ site.title }}</h1>
        <h1 class="visible-xs" style="text-align:center">{{ site.title }}</h1>
        <h2 class="hidden-xs">{{ site.subtitle }}</h2>
        <h2 class="visible-xs" style="text-align:center">{{ site.subtitle }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">

    <!--JDG-->
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-6">
            <img src="{{ site.logo_james }}" class="img-responsive">
          </div>
          <div class="col-md-6">
            </br></br></br>
            <p style="text-align:left">
              James Doss-Gollin is an Assistant Professor in the department of <a href='https://cee.rice.edu'>Civil and
                Environmental Engineering </a> at Rice University.
            </p>
          </div>
          <div class="col-md-6">
            <p style="text-align:left">
              <strong>
                View his <a href="/group-members#jdossgollin">Bio</a>
                or
                <a href="https: //jdossgollin.github.io/my-cv/Doss-Gollin-CV.pdf">CV</a>
              </strong>.
            </p>
          </div>
        </div>
        <hr />
      </div>
    </div>

    <!--REAEARCH-->
    <div class=" row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-6">
            <iframe width="100%" src="https://www.youtube-nocookie.com/embed/gI2I8Cq-14g" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
          <div class="col-md-6">
            <p style="text-align:left">
              Through mission-oriented basic applied research, we address fundamental challenges in infrastructure
              resilience and climate adaptation.
            </p>
            <p><strong>
                Learn more about <a href="/funded-projects/">our research</a>.
            </p></strong>
          </div>
        </div>
        <hr />
      </div>
    </div>

    <!--JOIN US-->
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-6">
            <a href="/join-the-lab/" class="thumbnail"><img src="{{ site.logo_labgroup }}" class="img-responsive"
                alt="Join Us" /></a>
          </div>
          <div class="col-md-6">
            <p style="text-align:left">
              Do you want to work on intellectually challenging and socially impactful problems?
            </p>
            <p><strong>
                Learn about <a href="/join-the-lab/">open positions</a> for undergrads, graduate students, and
                post-docs.
            </p></strong>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>

  <!--NEWS AND UPDATES-->

  <div class="col-md-6 col-sm-12 col-sm-12">
    <table style="width:100%">
      <tr>
        <td>
          <h4>News &amp; Updates</h4>
        </td>
      </tr>
    </table>
    <div class="list-group" style="margin-bottom:0px;">
      {% for post in site.tags.news limit:6 %}
      {% if post.category != "album" %}
      <a href="{{ post.url }}" class="list-group-item ">
        <h4 class="list-group-item-heading"><small class="pull-right">{{ post.date | date_to_string }}</small>{{
          post.title }}</h4>
        <p class="list-group-item-text">{{ post.subtitle }}</p>
      </a>
      {% endif %}
      {% endfor %}
    </div>
    <br />
    <div class="pull-left"><a href="/feeds/rss.xml" type="application/rss+xml"><img src="/assets/img/rss.png"
          alt="RSS" /></a> <a href="/feeds/rss.xml" type="application/rss+xml" class="btn btn-warning btn-xs">Subscribe
        RSS</a></div>
    <div class="pull-right"><a href="/archive/">View Full Archive <i class="glyphicon glyphicon-arrow-right"></i></a>
    </div>
    <br /><br />
  </div>
</div>
<div>