<!-- Install gitalk -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>

<!--Add a container to your page:-->
<div id="gitalk-container"></div>
<div class="inner">GITALK IS LOADING ON HERE</div>

<!--Then use the Javascript code below to generate the gitalk plugin:-->
<script type="text/javascript">
    var gitalk = new Gitalk({
        // The main parameters of gitalk
        clientID: '6e259a1fb191ba6e763a,
        clientSecret: '2fdfbdc8eae7dca0acd98e20afaa65f4789c60b6,
        Repo: 'jdossgollin.github.io',
        Owner: 'jdossgollin',
        Admin: ['jdossgollin'],
        id: "Blog",
        distractionFreeMode: true,
    });
    gitalk.render('gitalk-container');
</script> 