<!-- Gitalk comment start  -->

 <!-- Link Gitalk  -->
 <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
 <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
 <div id="gitalk-container"></div>     <script type="text/javascript">
     var gitalk = new Gitalk({

     // Gitalk parameters
         clientID: '203fae836a9e1e8ed97c', //customize
         clientSecret: 'b931428506ec786563a32606ada1178d8280cbf0', //customize
         repo: 'jdossgollin.github.io', //customize
         owner: 'jdossgollin', //customize
         admin: ['jdossgollin'], //customize
         id: window.location.pathname, // leave this line as it is
        
     });
     gitalk.render('gitalk-container');
 </script> 
 <!-- Gitalk end -->