<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About Me</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}publications/">My Publications</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}contact/">Contact Me</a></li>
    <li class="nav-about" role="menuitem"><a href="http://jdossgollin.github.io/online-cv" target="_blank">My CV</a></li>
    <li class="nav-about" role="menuitem"><a href="http://jdossgollin.github.io/blog" target="_blank">My Blog</a></li>
</ul>
