<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About Me</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}publications/">My Research</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}contact/">Contact Me</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.production_url}}cv-pdf/CV_Doss-Gollin_James.pdf" target="_blank">My CV</a></li>
    <!--
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}tags/papers/">Papers</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}tags/blogs/">Blog Posts</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}tags/presentations/">Presentations</a></li>
    -->
</ul>
