---
layout: page
title: Funding
permalink: funded-projects/
---

{% assign pages = site.pages | sort:"order" %}

<h2>Current Projects</h2>

{% for page in pages %}
{% if page.path contains 'research-current/' and page.path contains '.md' %}
<div class="row">
  <div class="col-md-4">

    {% if page.funder_logo %}
    <a href="/assets/img/logos/{{ page.funder_logo }}">
      <img src="/assets/img/logos/{{ page.funder_logo }}" style="margin-top: 25px;" class="hidden-sm hidden-xs img-responsive img-thumbnail"
        alt={{ page.title }} />
    </a>
    {% endif %}
    <p>
      Project funded by <a href="{{ page.funder_link }}">{{ page.funder }}</a>, <a href="{{ page.program_link }}">{{ page.program }}</a></li>,
      Award <a href="{{ page.abtract_link }}">{{ page.award_id }}</a> ({{ page.start_date }} -- {{ page.end_date }}).
      With
      <ul>
        {% for collab in page.collaborators %}
          <li>{{ collab.name }} ({{ collab.institute }})</li>
        {% endfor %}
      </ul>
    </p>
  </div>
  <div class="col-md-8">
    <a name="{{ page.title }}"></a>
    <h3>{{ page.title }}</h3>
    {{ page.content | markdownify }}
  </div>
</div>
{% endif %}
{% endfor %}
</div>