---
layout: page
title: "Join Us"
permalink: join-the-lab/
---

{% assign positions = site.data.positions %}

<div class="row">
  <div class="col-sm-8">
    <p>
      We are an inclusive group driven by our intellectual curiosity and sense of purpose. Join us to use earth science,
      decision science, data science, and engineering to address critical societal challenges!
    </p>
    <p>
      Students from under-represented backgrounds are particularly encouraged to apply.
    </p>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Policy</strong></div>
      <div class="panel-body">
        We do not hire unpaid interns, except for academic credit.
      </div>
    </div>
  </div>
</div>

<div class="row">
  <h3>Open positions</h3>
  </br>
  {% for position in positions %}
  <div class="col-sm-4">
    <div class="panel panel-default  style=" width: 100%;">
      <div class="panel-heading">
        <h4>{{ position.role }}</h4>
      </div>
      <div class="panel-body">
        {{ position.status }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="row">
  <h3>How to apply</h3>
  Please visit our <a href="{{ site.labguide }}">lab guide</a> before applying.
</div>
</br>
<div class="row">
  {% for position in positions %}
  <div class="col-sm-4">
    <div class="panel panel-default" style="width: 100%;">
      <div class="panel-heading">
        <h4>{{ position.role }}</h4>
      </div>
      <div class="panel-body">
        {{ position.apply }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>