---
layout: page
title: Group Members
permalink: group-members/
---

<!--group photo-->
<div class="row">
  <div class="col-sm-12 style=" text-align: center;">
    <img src="{{ site.logo_labgroup }}" alt="Doss-Gollin Lab Group" class="hidden-xs" style="width: 100%;" />
  </div>
</div>

<!--Loop through current members-->
<hr style="height: 5px;">
<h3>Current members</h3>
{% assign personcounter = 1 %}
{% assign people = site.data.people %}
{% for person in people %}
{% if person.former != true %}
{% if personcounter > 1 %}
<hr />
{% endif %}
<div class="col-sm-1"></div>
<div class="col-sm-3">
  <img src="/assets/img/people/{{ person.photo }}" alt="{{ person.first_name }}"
    class="thumbnail hidden-xs lab-member-photo" />
  <img src="/assets/img/people/{{ person.photo }}" alt="{{ person.first_name }}"
    class="thumbnail visible-xs lab-member-photo-small" />
</div>
<div class="col-sm-8">
  {% if person.anchor %}
  <a name="{{ person.anchor }}"></a>
  {% else %}
  <a name="{{ person.first_name }} {{ person.last_name }}"></a>
  {% endif %}
  <h4>
    {% if person.title %}{{ person.title}} {% endif %}
    {{ person.first_name }} {{ person.last_name }}{% if person.namedrop %} (<a
      href="http://namedrop.io/{{ person.namedrop }}"><i class="fas fa-volume-up"></i></a>){% endif %}, {{
    person.position }}
  </h4>
  <div>
    {% if person.pronouns %}
    <img src="https://img.shields.io/static/v1?label=&message={{ person.pronouns }}&color=red&style=flat-square"
      alt="Pronouns">
    {% endif %}
    {% if person.email %}
    <a href="mailto:{{ person.email }}">
      <img
        src="https://img.shields.io/static/v1?label=&message={{ person.email }}&color=gray&style=flat-square&logo=gmail"
        alt="email">
    </a>
    {% endif %}
    {% if person.website %}
    <a href="{{ person.website }}">
      <img src="https://img.shields.io/website?style=flat-square&url={{ person.website|urlencode }}" alt="Website">
    </a>
    {% endif %}
    {% if person.cv %}
    <a href="{{ person.cv }}">
      <img src="https://img.shields.io/website?style=flat-square&url={{ person.cv|urlencode }}&label=Curriculum Vitae"
        alt="CV">
    </a>
    {% endif %}
    <!-- Academic identity -->
    {% if person.orcid %}
    <a href="https://orcid.org/{{ person.orcid }}">
      <img
        src="https://img.shields.io/static/v1?label=ORCID&message={{ person.orcid }}&color=green&style=flat-square&logo=orcid"
        alt="ORCID Profile">
    </a>
    {% endif %}
    {% if person.scholar %}
    <a href="https://scholar.google.com/citations?user={{ person.scholar }}">
      <img
        src="https://img.shields.io/static/v1?label=&message=Google%20Scholar&color=gray&style=flat-square&logo=google-scholar"
        alt="Google Scholar">
    </a>
    {% endif %}
    {% if person.mastodon %}
    <a href="{{ person.mastodon.server }}/@{{ person.mastodon.handle }}">
      <img
        src="https://img.shields.io/mastodon/follow/{{ person.mastodon.id }}?domain={{ person.mastodon.server }}&style=social"
        alt="Mastodon">
    </a>
    {% endif %}
    {% if person.linkedin %}
    <a href="https://www.linkedin.com/in/{{ person.linkedin }}">
      <img src="https://img.shields.io/static/v1?label=&message=LinkedIn&color=0077B5&style=social&logo=linkedin"
        alt="LinkedIn">
    </a>
    {% endif %}
    {% if person.github %}
    <a href="http://github.com/{{ person.github }}">
      <img
        src="https://img.shields.io/github/followers/{{ person.github }}?label=Github: @{{ person.github }}&logo=github&style=social"
        alt="GitHub Profile">
    </a>
    {% endif %}
  </div>
  <!-- bio and description -->
  {% if person.bio %}
  <p>{{ person.bio | markdownify }}</p>
  {% endif %}
</div>
<div class="clearfix"></div>
{% assign personcounter = personcounter | plus:1 %}
{% endif %}
{% endfor %}

<!-- Former people-->
<hr style="height: 5px;">
{% assign people = site.data.people | sort: 'end' | reverse %}

<h3>Former members</h3>
<table class='table table-striped'>
  <tr>
    <th>Name</th>
    <th>Role</th>
  </tr>
  {% for m in people %}
  {% if m.former == true%}
  <tr>
    <td>{{ m.first_name }} {{ m.last_name }}</td>
    <td>{{ m.position }}, {{ m.start }}--{{ m.end }}</td>
  </tr>
  {% endif %}
  {% endfor %}
</table>

<!--join us button-->
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <a class="btn btn-primary btn-block" href="/join-the-lab/">Join Us!</a>
  </div>
  <div class="col-sm-4"></div>
</div>
</br>