---
layout: page
title: Research Projects
permalink: funded-projects/
---

{% assign pages = site.pages | sort:"order" %}

<div class="row">
  <div class="col-md-12">
    <p>
      We are an inclusive and mission-oriented group addressing fundamental challenges in infrastructure resilience,
      risk assessment, and climate adaptation.
      Specifically, we are motivated by two related problems.
      First, how can we understand and predict weather and climate hazards?
      Second, how can we use this information to design adaptive, sustainable, equitable, and robust risk management
      strategies?
    </p>
    <p>
      To accomplish this, we leverage tools from Earth science (e.g., hydrology, atmospheric science), data science
      (e.g., graph neural nets, Bayesian extreme value models), and decision science (e.g., decision making under deep
      uncertainty, optimization).
      We apply these methods to complex problems in coastal resilience, urban flood risk management, energy reliability,
      and water resources.
    </p>
    <p>
      For more on our work, see this recorded talk:
    </p>
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <iframe width="100%" height="250" src="https://www.youtube-nocookie.com/embed/gI2I8Cq-14g"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen id="Iframe"></iframe>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Active Projects</h2>
  </div>
</div>

{% for page in pages %}
{% if page.path contains 'research-current/' and page.path contains '.md' %}
<div class="row">
  <div class="col-md-12">
    <h4><i>{{ page.title }}</i></h4>
    <p>
      Project funded by <a href="{{ page.funder_link }}">{{ page.funder }}</a>
      <a href="{{ page.program_link }}">{{page.program }}</a></li>,
      {% if page.award_id %}Award <a href="{{ page.abstract_link }}">{{ page.award_id }}</a>{% endif %}
      ({{ page.start_date}} -- {{ page.end_date }}).

      {% if page.collaborators %}
      In collaboration with
      {% for collab in page.collaborators %}
      {% if forloop.last == true %}
      {% if forloop.first == true %}
      <!--Case A: is last and is first => only 1 collaborator-->
      {{ collab.name }} ({{ collab.institute }}).
      {% else %}
      <!--Case B: is last but is not first => last of >1 collaborators -->
      and {{ collab.name }} ({{ collab.institute }}).
      {% endif %}
      {% else %}
      <!--Case C: is not last -->
      {{ collab.name }} ({{ collab.institute }}),
      {% endif %}
      {% endfor %}
      {% endif %}
    </p>
  </div>
  <div class="col-md-2">

    {% if page.funder_logo %}
    <a href="{{ page.funder_link }}">
      <img src="/assets/img/logos/{{ page.funder_logo }}" style="margin-top: 25px;"
        class="hidden-sm hidden-xs img-responsive img-thumbnail" alt={{ page.title }} />
    </a>
    {% endif %}
  </div>
  <div class="col-md-10">
    {{ page.content | markdownify }}

    {% if page.media %}
    <h4>Media</h4>
    <ul>
      {% for article in page.media %}
      <li><a href="{{ article.url }}">{{ article.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

{% endif %}
{% endfor %}
</div>