---
layout: page
title: Teaching
permalink: teaching/
---

<!--Loop through all the people-->
{% assign courses = site.data.teaching | sort: "semester" %}

<div class="row">
    <div class="col-md-12">
        <p>
            All information on this page is preliminary; please see official course listings at <a href="https://courses.rice.edu/">courses.rice.edu</a>
        </p>
        <section>
            {% assign c1 = courses | first %}
            {% assign prevsem = c1.semester %}
            <h4>{{ prevsem }}</h4>
            <ul>
                {% for course in courses %}
                {% capture semester %}{{ course.semester }}{% endcapture %}
                {% if semester != prevsem %}
            </ul>
            <h4>{{ semester }}</h4>
            <ul>
                {% endif %}
                <li> {% if course.url %}<a href="{{ course.url }}">{% endif %}{{ course.number }}: {{ course.title }}{% if course.url %}</a>{% endif %}</li>
                {% endfor %}
            </ul>
        </section>
        <br />
        <br />
        <br />
    </div>
</div>