---
layout: page
permalink: themes/
title: Research themes
---

<div class="row">
  <div class="col-md-9">
    </br>
    <p>
      Over the coming decades, our critical infrastructure systems need to decarbonize our energy system, protect
      communities from worsening weather extremes, and raise the quality of life for billions of people worldwide. Yet
      aging infrastructure, limited funding, environmental considerations, and deep uncertainties as to future needs
      complicate infrastructure design, investment, and management.
    </p>
    <p>
      We imagine infrastructure systems that contribute to resilience, sustainability, and equity.
      To this end, we are developing tools to address local and global problems like urban water security,
      flood risk management, and the renewable energy transition.
    </p>
    <p>
      For more information, see our <a href="/funded-projects">active projects</a> and <a href="/publications">publications</a>.
    </p>
  </div>
  <div class="col-md-3">
    <img src="/assets/img/research/rioparaguay_landsat.jpeg" class="hidden-sm hidden-xs img-responsive img-thumbnail" alt="{{ page.title }}">
  </div>
</div>

{% assign pages = site.pages | sort:"order" %}

<h2>Tools and Methods</h2>

{% for page in pages %}
{% if page.path contains 'research-tools/' and page.path contains '.md' %}
<div class="row">
  <div class="col-md-4">
    {% if page.image %}
    <a href="{{ page.image }}">
      <img src="{{ page.image }}" style="margin-top: 25px;" class="hidden-sm hidden-xs img-responsive img-thumbnail" alt="{{ page.title }}">
    </a>
    {% endif %}
  </div>
  <div class="col-md-8">
    <a name="{{ page.title }}"></a>
    <h3>{{ page.title }}</h3>
    {{ page.content  }}
  </div>
</div>
{% endif %}
{% endfor %}


<h2>Applications</h2>

{% for page in pages %}
{% if page.path contains 'research-applications/' and page.path contains '.md' %}
<div class="row">
  <div class="col-md-4">
    {% if page.image %}
    <a href="{{ page.image }}">
      <img src="{{ page.image }}" style="margin-top: 25px;" class="hidden-sm hidden-xs img-responsive img-thumbnail" alt="{{ page.title }}">
    </a>
    {% endif %}
  </div>
  <div class="col-md-8">
    <a name="{{ page.title }}"></a>
    <h3>{{ page.title }}</h3>
    {{ page.content  }}
  </div>
</div>
{% endif %}
{% endfor %}
