---
---

<!--Create a counter to have an entry-->
{% capture shorttitle %}{{ entry.key | replace: "_", "-" | replace: ":", "-" }}{% endcapture %}


<div class="panel panel-default" style="font-size: 14px;">
    <div class="panel-body">
        {{ reference | replace_first: 'Doss-Gollin, J.', '<b>Doss-Gollin, J.</B>' }}
    </div>
    <div class="panel-heading">

        <!--BUTTON TO READ THE PAPER-->
        {% if entry.doi %}
        {% capture url %}"https://doi.org/{{ entry.doi }}" {% endcapture %}
        {% elsif entry.url %}
        {% capture url %}"{{ entry.url }}" {% endcapture %}
        {% else %}
        {% capture url %}""{% endcapture %}
        {% endif %}
        {% if entry.doi or entry.url %}
        <a class="btn btn-primary btn-sm" style="background-color:#00205B" href={{ url }} role="button">
            Read Online
        </a>
        {% endif %}

        <!--Preprint-->
        {% if entry.preprint %}
        <a class="btn btn-primary btn-sm" href="{{ entry.preprint }}" role="button" style="background-color:#00205B">
            Preprint
        </a>
        {% endif %}

        <!--ABSTRACT-->
        <button class="btn btn-primary btn-sm" data-toggle="collapse" href="#{{ shorttitle }}-abs" role="button"
            aria-expanded="false" aria-controls="{{shorttitle }}-abs" style=" background-color:#7C7E7F">
            Abstract
        </button>

        <!--BIBTEX-->
        <button class="btn btn-primary btn-sm" type="button" style=" background-color:#7C7E7F" data-toggle="collapse"
            data-target="#{{ shorttitle }}-bib" aria-expanded="false" aria-controls="{{ shorttitle }}-bib">
            BibTeX
        </button>

        <!--Open Source REPO-->
        {% if entry.repo %}
        <a class="btn btn-primary btn-sm" href="{{ entry.repo }}" role="button" style="background-color: #00432C;">
            Code
        </a>
        {% endif %}

        <!--Hidden popups for abstract and bibtex-->
        <div class="row">
            <div class="col">
                <div class="collapse" id="{{ shorttitle }}-abs">
                    <div class="card card-body">
                        <div class="col-sm-12">
                            </br>
                            <p>
                                {{ entry.abstract }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse" id="{{ shorttitle }}-bib">
                    <div class="card card-body">
                        <div class="col-sm-12">
                            {% highlight BibTeX %}
                            {{ entry.bibtex }}
                            {% endhighlight %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>