---
---

<!--Create a counter to have an entry-->
{% capture shorttitle %}{{ entry.key | replace: "_", "-" | replace: ":", "-" }}{% endcapture %}



<div class="panel panel-default" style="font-size: 14px;">
    <div class="panel-body">
        {{ reference | replace_first: 'Doss-Gollin, J.', '<b>Doss-Gollin, J.</B>' }}
    </div>
    <div class="panel-heading">

        <button class="btn btn-primary btn-sm" data-toggle="collapse" href="#{{ shorttitle }}-abs" role="button"
            aria-expanded="false" aria-controls="{{ shorttitle }}-abs"
            style="fill:#ebebeb; hover:#ebebeb;">Abstract</button>

        <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#{{ shorttitle }}-bib"
            aria-expanded="false" aria-controls="{{ shorttitle }}-bib">BibTeX</button>

        {% if entry.doi %}
        <a class="btn btn-primary btn-sm" href="https://doi.org/{{ entry.doi }}" role="button">DOI</a>
        {% elsif entry.url %}
        <a class="btn btn-primary btn-sm" href="{{ entry.url }}" role="button">URL</a>
        {% endif %}

        {% if entry.repo %}
        <a class="btn btn-primary btn-sm" href="{{ entry.repo }}" role="button">Code</a>
        {% endif %}

        {% if entry.preprint %}
        <a class="btn btn-primary btn-sm" href="{{ entry.preprint }}" role="button">Preprint</a>
        {% endif %}

        <!--Hidden popups for abstract and bibtex-->
        <div class="row">
            <div class="col">
                <div class="collapse" id="{{ shorttitle }}-abs">
                    <div class="card card-body">
                        <div class="col-sm-12">
                            </br>
                            <p>
                                {{ entry.abstract }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse" id="{{ shorttitle }}-bib">
                    <div class="card card-body">
                        <div class="col-sm-12">
                            {% highlight BibTeX %}
                            {{ entry.bibtex }}
                            {% endhighlight %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>