---
---

{{ reference }}
<br>
{% if entry.doi %}
{% capture link %}https://doi.org/{{ entry.doi }}{% endcapture %}
{% elsif entry.url %}
{% capture link %}{{ entry.url }}{% endcapture %}
{% endif %}

{% if entry.open == "true" and link %}
<a href="{{ link }}">
    <img src="https://img.shields.io/static/v1?label=Published&message=Open Access&color=green&style=flat" alt="Link">
</a>
{% endif %}
{% if entry.open != "true" and link %}
<a href="{{ link }}">
    <img src="https://img.shields.io/static/v1?label=Published&message=Online&color=blue&style=flat" alt="Link">
</a>
{% endif %}
{% if entry.preprint %}
<a href="{{ link }}">
    <img src="https://img.shields.io/static/v1?label=preprint&message=Open Access&color=blue&logo=arxiv&style=flat"
        alt="Link">
</a>
{% endif %}
{% if entry.repo %}
{%  if entry.repo contains "github" %}
<a href="{{ entry.repo }}">
    <img src="https://img.shields.io/static/v1?style=flat&logo=github&label=code&message=Open Source" alt="Link">
</a>
{% elsif entry.repo contains "bitbucket" %}
<a href="{{ entry.repo }}">
    <img src="https://img.shields.io/static/v1?label=source%20code&style=flat&logo=bitbucket&message=Open Source"
        alt="Link">
</a>
{% elsif entry.repo contains "gitlab" %}
<a href="{{ entry.repo }}">
    <img src="https://img.shields.io/static/v1?label=source%20code&style=flat&logo=gitlab&message=Open Source"
        alt="Link">
</a>
{% else" %}
<a href="{{ entry.repo }}">
    <img src="https://img.shields.io/static/v1?label=Code&message=Online&color=orange&style=flat&message=Open Source"
        alt="Link">
</a>
{% endif %}
{% endif %}