<!DOCTYPE html>
<html>

{% include head.html %}

<body>


  {% include header.html %}

  <div class="page-content">
    <div class="wrap">

      {% if page.menu == "research" %}

      <!-- Small/Mobile-->
      <ul class="nav nav-pills visible-xs">
        <li> <a href="/research/" class="{% if page.title == " Research" %}btn-primary{% endif %}">Projects</a></li>
        <li><a href="/research/funding/" class="{% if page.title == " Funding" %}btn-primary{% endif %}">Funding</a>
        </li>
        <li><a href="/publications/" class="{% if page.title == " Publications" %}btn-primary{% endif
            %}">Publications</a></li>
      </ul>
      <div class="pull-right hidden-xs">
        <a href="/research/" type="button" class="btn btn-default btn-sm {% if page.title == " Research" %}btn-primary{%
          endif %}">Projects</a>
        <a href="/publications/" type="button" class="btn btn-default btn-sm {% if page.title == " Publications"
          %}btn-primary{% endif %}">Publications</a>
        <a href="/research/funding/" type="button" class="btn btn-default btn-sm {% if page.title == " Funding"
          %}btn-primary{% endif %}">Funding</a>
      </div>

      {% elsif page.menu == "about" %}
      <ul class="nav nav-pills visible-xs">
        <li> <a href="/People" class="{% if page.title == " People" %}btn-primary{% endif %}">People</a></li>
        <li><a href="/Contact" class="{% if page.title == " Contact" %}btn-primary{% endif %}">Contact</a></li>
        <li><a href="/Join-Us" class="{% if page.title == " Join Us" %}btn-primary{% endif %}">Join Us</a></li>
      </ul>
      <div class="pull-right hidden-xs">
        <a href="/People" type="button" class="btn btn-default btn-sm {% if page.title ==" People" %}btn-primary{% endif
          %}">People</a>
        <a href="/Contact" type="button" class="btn btn-default btn-sm {% if page.title == " Contact" %}btn-primary{%
          endif %}">Contact</a>
        <a href="/Join-Us" type="button" class="btn btn-default btn-sm {% if page.title == " Join Us" %}btn-primary{%
          endif %}">Join Us</a>
      </div>

      {% endif %}

      {{ content }}



      {% include footer.html %}
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      $("a[href^='http://'], a[href^='https://'], a[href$='pdf']").attr("target", "_blank");
    });
  </script>
  <script src="/_assets/js/tabs.js"></script>

</body>

</html>